body {
    min-width: 320px; /* Largeur minimale pour le contenu de la page par rapport au cahier des charges*/
}

header {
    width: 100%;
    max-width: 1440px; /* Largeur maximale pour le header par raport au cahier des charges*/
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: auto; /* Centre le header dans la page */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur */
}

.header-logo {
    width: 61.09px;
    height: 19px;
}

.header-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.header-nav a:hover, .header-nav .active {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}